node_modules
.next
out
dist-electron
.env
.DS_Store
//.
*.log
*.lock
dist
build
coverage
.idea
.vscode
*.iml
Share/Legals/
release
# Mock workspace data (optional - remove this line if you want to commit mock data for team sharing)
# Share/_mock/
